/Data/*
/OpenAccess_nfcore/*
/RPM_nfcore/*
**/__pycache__/
/_legacy/*
.vscode
*.json
*.h5ad
*.pkl
*.pt
*.npy
*.npz
*.csv
*.log
*.parquet
*.csv.gz
*.key
#CLAUDE
.claude
CLAUDE.md
*/CLAUDE.md
/docs/*
_external/

/논문화/
